pkgbase = lsd
	pkgdesc = A ls command with a lot of pretty colors.
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/Peltoche/lsd
	arch = i686
	arch = x86_64
	arch = armv6h
	arch = armv7h
	license = Apache-2.0
	makedepends = rust
	makedepends = cargo

pkgname = lsd

