[package]
authors = ["Peltoche <dev@halium.fr>"]
build = "build.rs"
categories = ["command-line-utilities"]
description = "An ls command with a lot of pretty colors and some other stuff."
keywords = ["ls"]
license = "Apache-2.0"
name = "lsd"
readme = "./README.md"
repository = "https://github.com/Peltoche/lsd"
version = "0.16.0"
edition = "2018"

[[bin]]
name = "lsd"
path = "src/main.rs"

[build-dependencies]
clap = "2.33.*"
version_check = "0.9.*"

[dependencies]
ansi_term = "0.12.*"
libc = "0.2.*"
term_grid = "0.1.*"
terminal_size = "0.1.*"
time = "0.1.*"
chrono-humanize = "0.0.*"
unicode-width = "0.1.*"
lscolors = "0.6.0"
wild = "2.0.*"
globset = "0.4.*"

[target.'cfg(unix)'.dependencies]
users = "0.9.*"

[target.'cfg(windows)'.dependencies]
winapi = {version = "0.3.*", features = ["aclapi", "accctrl", "winnt", "winerror", "securitybaseapi", "winbase"]}

[dependencies.clap]
features = ["suggestions", "color", "wrap_help"]
version = "2.33.*"

[dev-dependencies]
assert_cmd = "0.11.1"
assert_fs = "0.11.3"
predicates = "1.0.1"
tempfile = "3"

[features]
sudo = []
